[user]
  email = <colin.diesh@gmail.com>
  name = Colin
  signingkey = A73172047D7555CE
[blame]
  date = short
[http]
  sslVerify = true
[pull]
  rebase = true
[push]
  default = simple
  autoSetupRemote = true
[credential]
  helper = cache
[core]
  editor = nvim

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true

[merge]
  conflictstyle = zdiff3
[init]
  defaultBranch = main
[commit]
  gpgsign = true

[alias]
  s = status
  a = add
  aa = add .
  c = commit -m
  ca = commit --amend --no-edit
  caa = commit -a --amend --no-edit
  co = checkout
  cob = checkout -b
  d = diff
  dc = diff --cached
  l = log --oneline --graph --all
  b = branch -vv
  p = push
  pl = pull
[gpg]
  program = gpg
